
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Color Palette Generator</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/minireset.css/0.0.2/minireset.min.css" integrity="sha512-uBLaY+6crwV4JAHILx0HWvYncrX7TXL770hqxly0ZsQ199v4lr2yNB2jiPMoxNajFPHSQnU80B1O8dJLujWZMg==" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Russo+One&display=swap" rel="stylesheet">
    <link href="{{ url_for("static", filename="style.css") }}" rel="stylesheet"/>
  </head>
  <body>
    <div class="container">
    {% block main %}
    {% endblock main %}
    </div>
    <script src="{{ url_for("static", filename="script.js") }}"></script>
  </body>
</html>
